<div class="main-div">
    <form id="logForm" name="logForm" #logForm="ngForm" (ngSubmit)="onLogin(logForm)">
    <mat-card>
      <mat-card-title>User Login</mat-card-title>
  
      <div class="userIcon">
        <span class="material-icons" id="accountIcon">account_circle</span>
      </div>
      
      <div>
      <mat-form-field class="example-full-width" id="email">
        <mat-label>Email Address</mat-label>
        <input matInput 
               [formControl]="emailFormControl"
               [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com"
               [(ngModel)] = "emailTxt"
               name="emailTxt"
               required>
        <mat-hint></mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      </div>
      <br />
     
      <div>
      <mat-form-field class="example-full-width" id="password">
        <mat-label>Password</mat-label>
        <input matInput type="password"
        [formControl]="passwordFormControl" 
        [errorStateMatcher]="matcher" 
        [(ngModel)] = "passwordTxt"
        name="passwordTxt"
        required
        />
        <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      </div>
  
      <div class="loginBtn">
        <button mat-raised-button type="submit" color="primary">Login</button>
      </div>
  
      <div  class="text">
        <span>Click <b><a href="">HERE</a></b> to reset password</span>
      </div>
  
    </mat-card>
    </form>
  </div>
  <notifier-container id="notification"></notifier-container>