<mat-grid-list cols="4" rowHeight="180px">
        <mat-grid-tile *ngFor="let product of products | slice: 1; let i = index"
        [colspan] = "1"
        [rowspan] = "2">
        <table>
            <tr>
                <td>
                    <span class="discountBt" *ngIf="product.discount != 0" matBadge="{{product.discount}}% Free" matBadgeColor="accent"></span>
                    <img src="{{images[i].url}}" alt="" height=200 width=200>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <input hidden value="{{product.productId}}">
                    {{product.productName}}
                </td>
           
            <tr *ngIf="product.discount != 0">
                <td  class="strikethrough">Rs. 
                    {{product.currentPrice}} /=
                </td>
                
            </tr>
             <tr>
                <td>Rs.
                    {{product.currentPrice - ((product.currentPrice * product.discount)/100)}}
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{product.productDescription}}</p>
                </td>
            </tr>        
            <tr>
                <td>
                    <button id="addToCart" (click)="addToCart(product.productId)" mat-raised-button color="primary">Add to cart <mat-icon>shopping_cart</mat-icon></button>   
                </td>
            </tr>
        </table>
        </mat-grid-tile>
  </mat-grid-list>