.navbar {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

#login {
    background-color: green;
    color: white;
    margin-right: 1rem;
}

#signup {
    margin-right: 1rem;
}

#homeBtn {
    font-size: 15px;
}

#searchBox {
    width: 200px;
    font-size: 15px;
    margin-right: 5rem;
}

#lblSign {
    font-size: 14px;
    margin-top: 10px;
}

#customerF {
    color: yellow;
}

#catBtn {
    font-size: 15px;
}

#shoppingCrt {
    margin-right: 5rem;
    cursor: pointer;
}

#msgWelcom {
    color:  yellow;
}

#logout {
    cursor: pointer;
    font-size: 15px;
}