<mat-toolbar color="primary"  class="navbar">
    <span>Online Shopping</span>
    <div class="manu">
       <!-- <a class="nav-link" routerLink="/login"><span>Home</span></a> -->
       <button id="homeBtn" mat-button routerLink="/products">Home</button> 
       <button id="catBtn" mat-button [matMenuTriggerFor]="aboveMenu">Category</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Cat 1</button>
        <button mat-menu-item>Cat 2</button>
        </mat-menu>
        <button id="homeBtn" mat-button>Contact Us</button>
    </div>
    
    <div>
        <label (click)="clickShoppingCart()"><mat-icon id="shoppingCrt" matBadge="{{count}}"  matBadgeColor="warn">shopping_cart</mat-icon></label>
        <mat-form-field class="form-field" id="searchBox">
            <mat-label>Search</mat-label>
            <input matInput type="text" >
            <span class="material-icons">search</span>
        </mat-form-field>
       <!-- <button id="login" mat-raised-button routerLink="/login">Login</button> -->
       <span id="msgWelcom" *ngIf= isLogged [(ngModel)] = "fullName">Welcome {{fullName}}</span>
       <label id="logout" *ngIf= isLogged (click)="onLogout()">Log out</label>
       <span *ngIf= !isLogged id="lblSign">Click <a id="customerF" routerLink="/customer-form">HERE</a> to Sign Up</span>
       <button *ngIf= !isLogged id="signup" mat-raised-button routerLink="/login">Login</button>
    </div>
</mat-toolbar>
<notifier-container id="notification"></notifier-container>